h1 {
	text-align: center;
}

.row {
	margin: 0 auto;
}

.row-col {
}

.card {
	margin: 10px auto;
}
.card,
.card-inner {
	border-radius: 15px;
}

.col-primary {
	background-color: var(--primary-colour) !important;
}

.col-secundary {
	background-color: var(--secundary-colour) !important;
	border: 2px solid var(--active-colour) !important;
}

.col-active {
	background-color: var(--active-colour) !important;
	border: 2px solid var(--secundary-colour) !important;
}

.col-md-6 {
	width: 100%;
	height: calc();
}
