$font-primary: "Open Sans", sans-serif;
$font-links: "Archivo Narrow", sans-serif; 

$colours: (
	grey: #8d8d8d,
	black: #262626,
	pink: #c32c72,
	beige: #f4f3ee,
	white: #ffffff,
	light-grey: #e5e5e5,
);

@function getColour($colour) {
	@return map-get($colours, $colour);
}

$navbar-light-brand-color: getColour(black);
$navbar-light-active-color: getColour(pink);
$nav-link-color: getColour(grey);
$light: getColour(beige);
