$primary: #f4f3ee;
$secondary: #ffffff;
$light: #f4f3ee;
$background-colour: #e5e5e5;
$active-colour: #c32c72;
$link-colour: #8d8d8d;
$text-colour: black;

$navbar-light-brand-color: $text-colour;
$navbar-light-active-color: $active-colour;
$nav-link-color: $link-colour;

