* {
	box-sizing: border-box;
	margin: 0;
}

body,
html {
	height: 100%;
}

body {
	font-family: $font-primary;
	background-color: getColour(light-grey);
	color: getColour(black);
	display: flex;
	flex-direction: column;
}

footer {
	display: flex;
	flex-shrink: 0;
	background-color: getColour(beige);
	margin-top: 2rem;
	font-size: 0.8em;
	color: getColour(grey);
	padding: 0.5em;

	.footer-wrapper {
		width: 95%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (min-width: 768px) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	a {
		color: getColour(grey);
		text-decoration: none;

		&:hover {
			color: getColour(white);
		}
	}
}
