body,
html {
	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: $background-colour;
	color: $text-colour;
	display: flex;
	flex-direction: column;
	
}

footer {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	background-color: $primary;
	margin-top: 2rem;
	font-size: 0.8em;
	color: $link-colour;
	padding: 0.5em;
}

footer a {
	color: $link-colour;
	text-decoration: none;
}

footer a:hover {
	color: #ffffff;
}

.wrapper {
	flex: 1 0 auto;
}

.container,
.page-heading {
	margin: 20px auto;
}

/* @media screen {
	.container {
		margin: 40px auto;
	}
} */
