nav {
	text-transform: uppercase;

	.container-fluid {
		margin: 0 auto;

		@media (min-width: 768px) {
			width: 90%;
		}
	}

	.navbar-brand {
		font-size: 32px;
	}

	a {
		font-family: $font-links;
		font-size: 15px;
	}

	.navbar-light,
	.navbar-toggler {
		border: none;
	}
	ul {
		background-color: getColour(beige);

		@media (max-width: 768px) {
			position: absolute;
			width: 100vw;
			left: 0;
		}
	}

	li {
		width: 95%;
		margin: 0 auto;
	}
}
