.navbar {
	text-transform: uppercase;
}


.navbar-brand {
	font-size: 32px;
}

.navbar-light,
.navbar-toggler {
	border: none;
}

.nav-link {
	font-family: "Archivo Narrow", sans-serif;
	font-size: 15px;
}

